<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-tekin-wifi" version="2.1.7" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Tekin Wifi</name>
    <description>An Android Cordova plugin to manage wifi</description>
    <license>MIT</license>
    <keywords>cordova,android,wifi,manager</keywords>
    <repo>https://github.com/TekinGomes37/tekin_wifi_manager</repo>
    <issue>https://github.com/TekinGomes37/tekin_wifi_manager/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.4.0"/>
    </engines>
    
    <!-- <asset src="www/TekinWifi.js" target="js/TekinWifi.js"/> -->

    <js-module name="Wifi" src="www/tekin.wifi.js">
        <clobbers target="Wifi"/>
    </js-module>

    <!-- android -->
    <platform name="android">

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="Wifi">
                <param name="android-package" value="com.tekin.cordova.wifi.Wifi"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <!-- add permission  -->
        </config-file>

        <source-file src="src/android/Wifi.java" target-dir="src/com/tekin/cordova/wifi"/>
        <source-file src="src/android/Gps.java" target-dir="src/com/tekin/cordova/wifi"/>
        <source-file src="src/android/WifiManager2.java" target-dir="src/com/tekin/cordova/wifi"/>
    </platform>
</plugin>